.features {
  padding: 96px 0;
}

/* LIST */
.features .list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

/* DESKTOP */
.features li {
  flex-basis: calc((100% - 72px) / 4);
}

/* ICON */
.icon-box {
  width: 100%;
  max-width: 264px;
  height: 112px;

  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
}

/* TITLE BASE */
.features .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* TEXT BASE */
.features .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1157px) {
  .features li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features .subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .features .text {
    font-weight: 500;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .features .list {
    flex-direction: column;
    gap: 72px;
  }

  .features li {
    flex-basis: 100%;
  }

  .features .subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
  }

  .features .text {
    font-weight: 500;
  }
}