.mobile-menu {
  position: fixed;
  inset: 0;
  background: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  display: flex;
  flex-direction: column;

  padding: 72px 16px 40px;
  transition: 250ms ease;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* NAV */
.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* CONTACTS */
.mobile-address {
  margin-bottom: 48px;
}

.mobile-address ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* SOCIAL (FIX ALIGNMENT) */
.mobile-socials {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

/* BUTTON */
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}